




html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.bg{
    background-color: lightblue;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.dec{
  text-decoration : none;
}


.center {
  margin-left: 15px;
  margin-right: auto;
  width: 100%;
  margin-top :70px;
  align-items : center;
  justify-content : center;
}

